
MyTV.IOS.Framework/MyTV.IOS.xcodeproj/project.xcworkspace/xcuserdata/johnny.xcuserdatad/UserInterfaceState.xcuserstate
MyTV.IOS.Framework/MyTV.IOS.xcodeproj/project.xcworkspace/xcuserdata/omarayoub-salloum.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcbkptlist

MyTV.IOS.Framework/MyTV.IOS.xcodeproj/xcuserdata/omarayoub-salloum.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

.DS_Store

MyTV.IOS.Framework/.DS_Store

MyTV.IOS.Player/.DS_Store
