
MyTV.IOS.Framework/MyTV.IOS.xcodeproj/project.xcworkspace/xcuserdata/johnny.xcuserdatad/UserInterfaceState.xcuserstate
MyTV.IOS.Framework/MyTV.IOS.xcodeproj/project.xcworkspace/xcuserdata/omarayoub-salloum.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcbkptlist

MyTV.IOS.Framework/MyTV.IOS.xcodeproj/xcuserdata/omarayoub-salloum.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

.DS_Store

MyTV.IOS.Framework/.DS_Store

MyTV.IOS.Player/.DS_Store

myTV.IOS.App/myTV.IOS.App.xcodeproj/project.xcworkspace/xcuserdata/omarayoub-salloum.xcuserdatad/UserInterfaceState.xcuserstate

myTV.IOS.App/myTV.IOS.App.xcodeproj/project.xcworkspace/xcuserdata/johnny.xcuserdatad/UserInterfaceState.xcuserstate







*.xcuserstate

*.xcexplist

Three20/extensions/ignoreme

Three20/src/Three20UICommon/Three20UICommon.xcodeproj/xcuserdata/johnny.xcuserdatad/xcschemes/xcschememanagement.plist

Three20/extensions/ignoreme

*.xcscheme

*.plist

*.plist

Three20/extensions/ignoreme

Three20/src/Three20/Three20.xcodeproj/xcuserdata/johnny.xcuserdatad/xcschemes/Three20.xcscheme

Three20/src/Three20UI/Three20UI.xcodeproj/xcuserdata/johnny.xcuserdatad/xcschemes/Three20UI.xcscheme
